
				<!-- <table>
					<thead>
						<tr>
							<th>Sl.No</th>
							<th>Hall Name</th>
							<th>Place</th>
							<th>Description</th>
							<th>Price</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody class="halls_tbody">
						{% for hall in halls %}
						<tr id="{{hall.id}}">
							<td>{{loop.index}}</td>
							<td>{{hall.name}}</td>
							<td>{{hall.place}}</td>
							<td>{{hall.description}}</td>
							<td>₹{{hall.price}}</td>
							<td>
								<a class="btn btn-primary update">
									Update
								</a>
							</td>
							<td>
								<a class="btn btn-secondary delete">
									Delete
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table> -->
				

				/**************** Table *************************/
		table {
			width: 700px;
			margin: 30px 0;
			/* border: 1px solid rgb(20, 20, 20); */
			border-collapse: collapse;
		}

		td,
		th {
			color: #111111;
			width: 25%;
			text-align: left;
			padding: 16px 24px;
		}

		thead th {
			background-color: #028639;
		}

		tbody tr:nth-child(even) {
			background-color: #f8f9fa;
		}

		tbody tr:nth-child(odd) {
			background-color: #e9ecef;
		}

			.card_Horizontal {
			font-family: 'Roboto';
			background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
			background-repeat: no-repeat;
			width: 50%;
			margin: 0 auto;
			display: flex;
			border-radius: 8px;
			box-shadow: 0 30px 80px rgba(0, 0, 0, 0.2);
			overflow: hidden;
			align-items: center;
			height: 10rem;
		}

		.card_ImageBox {
			display: flex;
			flex: 0 0 35%;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		.card_Image {
			display: block;
			width: 100%;
		}

		.card_Content {
			background-color: #ffffff;
			padding: 10px;
			border-radius: 5px;
			margin: 10px 10px;
			flex-basis: 65%;
			height: 100%;
		}

		